<%- include("./partials/header") %>

<a href="/main-page" class="fixed text-3xl"><i class="ri-arrow-left-fill"></i></a>
<div class="profile w-full  bg-zinc-500 p-10 flex flex-wrap gap-10  justify-center">
<%allproduct.forEach((ele)=>{%>
    <div class="card w-1/5  rounded-lg mt-10 bg-zinc-100 p-4  ">
        <h1 class="text-2xl font-bold capitalize"><%=ele.productname%></h1>
        <br>
        <div class="productimage w-full h-52 bg-blue-300 rounded-lg">
            <img src="/images/<%=ele.image%>" alt="" class="object-cover w-full h-full rounded-lg ">
        </div>
        <h1 class="text-xl font-light capitalize"><%=ele.description%></h1>
        <h1 class="text-xl font-bold text-blue-600 ">Rs-<%=ele.price%></h1>
        <div class="flex justify-between text-2xl">
            <a href="/payment/<%=ele._id%>" class="text-medium font-bold capitalize"><i class="ri-arrow-right-fill"></i>buy</i></a>
            <a href=""><i class="ri-check-double-line"></i></a>
        </div>
        
    </div>


<%})%>    

</div>

<%- include("./partials/footer") %>